<!DOCTYPE html>
<html>
  
<head>
  <title>blog</title>
  <link rel="stylesheet" href="style.css.css" type="text/css"/>
</head>

<body>
    <div class="navbar">
       <a href="index.html"><img src="logo_home.png" alt="Home" width="50" height="50"></a>
       <a href="1.about.html">About</a>
       <a href="2.contact.html">Contact</a>
       <a href="/blogs">Blog</a>
    </div>
    
    <div class="content">
        <h2>Blog</h2>
        
        <p><% @blogs.each do |blog| %>
            <%= blog.content %>
        <% end %></p>
    </div>
</body>

</html>